<div class="container">
  <div class="row">
    <div class="hero-unit">
      <div class="text-center">
        <h2>회원 가입을 위한 마지막 절차입니다.</h2>
      </div>
      <%= form_for(@new_user) do |f| %>
        <% if @new_user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@new_user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @new_user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="controls">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
        <div class="controls">
          <%= f.label :password %>
          <%= f.text_field :password %>
        </div>
        <div class="controls">
        </div>
        <div class="controls">
          <%= f.label :student_id %>
          <%= f.number_field :student_id %>
        </div>
        <div class="controls">
          <%= f.label :department_id %>
          <%= f.number_field :department_id %>
        </div>
        <div class="controls">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
